body {
  margin: 0;
}
h1 {
  margin-top: 0;
  padding: 10px;
}

.top-container {
  background: rgb(156, 219, 181);
}
.middle-container {
  height: 200px;
  width: 200px;
  background: red;
  border: 20px solid;
}
.bottom-container {
  width: 200px;
  height: 200px;
  background: blue;
  border: 10px solid;
}
.front:hover {
  text-decoration: underline;
  font-style: italic;
  color: rgb(139, 159, 221);
}
